- var items = ["Home", "About", "Projects", "Services"]

header
    figure.logo
        img(src="#", alt="logo")
    nav.class
        ul
            each item in items
                li
                    a(href="#")=item
