section.about
    figure.about-image
        img(src="#", alt="image-about")
    .about-description
        h3
        h1
        p

section.works
    .works-titles
        .works-title 
            h6
            h2
        .works-buttons
            +iconButton("fa-arrow-left", true, "change_page(0)")
            +iconButton("fa-arrow-right", true, "change_page(1)")
    .works-container
        .works-card
            img(src="", alt="")
            h6
            h2
            p
            a(href="")
                p
                i.fa.fa-arrow-right

section.services
    .services-description
        h6
        h2
        p
            strong
    .services-cards
        +card("../", "Frontend Developer", "lorem lipsum")
        +card("../", "UI/UX", "lorem lipsum 2")

section.feedback
    .feedback-slideshow
        button
        .feedback-comment
            img.user-icon
            p
            h4
            ul
                +bulletButton("feedback-person1")
                +bulletButton("feedback-person2")
                +bulletButton("feedback-person3")
        button
    .feedback-more
        .feedback-question
            h2
        .feedback-buttons
            button See More Projects
            button Hire Me
