form.pb-2
    .row
        .col-12.col-lg-6.mb-3
            input.form-control(type="text" placeholder="Nombre")
        .col-12.col-lg-6.mb-3
            input.form-control(type="text" placeholder="Apellido")
    .row
        .col.mb-3
            textarea.form-control(type="text" placeholder="Sobre qué quieres hablar?" name="text")
            small.form-text.text-muted Recuerda incluir un título para tu charla
    .row
        .col.d-grid
            button.btn.btn-platzi(type="button") Enviar