footer#contact
    .container
        .row
            .col
                p
                    | Designed and developed by Ryan Warner. <br />
                    | Built with
                    span Gatsby
                    | . Hosted on 
                    span Firebase
                    | . Type set in 
                    span Jost*
                    | .
            .col.text-end
                i.bi.bi-twitter
                i.bi.bi-linkedin
                i.bi.bi-dribbble