nav.container.ps-4.pe-4.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container-fluid
    a.navbar-brand(href='#')
        img.me-2(src="assets/Heart.svg", alt="logo")
        | Ryan Warner
    // Burger menu
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav.ms-auto.gap-4
        a.nav-link(href='#') Articles
        a.nav-link(href='#') Snippets
        a.nav-link(href='#') About
        a.btn.btn-outline-secondary.nav-link(href='#') Contact
