
<nav class="container ps-4 pe-4 navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid"><a class="navbar-brand" href="#"><img class="me-2" src="assets/Heart.svg" alt="logo"/>Ryan Warner</a>
    <!-- Burger menu-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto gap-4"><a class="nav-link" href="#">Articles</a><a class="nav-link" href="#">Snippets</a><a class="nav-link" href="#">About</a><a class="btn btn-outline-secondary nav-link" href="#">Contact</a></div>
    </div>
  </div>
</nav>