$primary-color: #ED7D31;
$secondary-color:#45577B;

$dark-color: #46434E;
$light-color: #fff;

$primary-font: "Poppins";

@mixin corner-icon($name, $top-or-bottom, $left-or-right) {
    .icon-#{$name} {
      background-image: url("/icons/#{$name}.svg");
      position: absolute;
      #{$top-or-bottom}: 0;
      #{$left-or-right}: 0;
    }
  }

.navbar{
  &-brand{
    img{
      width:36px;
    }
  }
}

#main{
  margin-top: 50px;
  .main{
    &-left{
      h5{
        margin-top:80px;
        color: $primary-color;
      }
      h1{
        margin-top: 24px;
        color: $secondary-color;
        font-size: 72px;
        font-weight: 700;
        // font-family: $primary-font;
      }
      .social{ 
        margin-top: 110px;
        i{
          color: $secondary-color;
          width: 32px;
          height: 32px;
          padding: 0;
        }
      }
    }
  }
}

#feedback{
  .container{
  background-color: #46434E;
  }
}