<h1>Formulario</h1>
<form #myForm="ngForm" (ngSubmit)="onRegister()">
  <div class="input-group">
    <div>
      <label for="name">Nombre </label>
      <input required id="name" name="name" type="text" [(ngModel)]="register.name" />
      <p>Mensajes de error</p>
    </div>
    <div>
      <label for="mail">Email </label>
      <input required id="mail" name="mail" type="email" [(ngModel)]="register.email" />
      <p>Mensajes de error</p>
    </div>
    <div>
      <label for="pass">Contraseña </label>
      <input required id="pass" name="pass" type="password" [(ngModel)]="register.password" />
      <p>Mensajes de error</p>
    </div>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Acción</button>
</form>

<h1>NgClass & NgStyle</h1>
<input type="text" required [(ngModel)]="person.name" #nameInput4="ngModel" />
<hr
  class="line-error"
  [ngClass]="{
    invalid: nameInput4.invalid,
    valid: nameInput4.valid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>

<div class="container">
  <div>
    <label for="boxWidth">Width</label>
    <input
      name="boxWidth"
      type="range"
      [(ngModel)]="box.width"
      min="0"
      max="100"
    />
    <br />
    <label for="boxHeight">Height</label>
    <input
      name="boxHeight"
      type="range"
      [(ngModel)]="box.height"
      min="0"
      max="400"
    />
    <br />
    <label for="boxColor">Color</label>
    <input name="boxColor" type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div
      [ngStyle]="{
        width: box.width + '%',
        height: box.height + 'px',
        background: box.background,
        display: 'inline-block'
      }"
    ></div>
  </div>
</div>
<hr />

<h1>Class & Style</h1>
<input type="text" required [(ngModel)]="person.name" #nameInput2="ngModel" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label for="">Nombre </label>
<input type="text" required [(ngModel)]="person.name" #nameInput3="ngModel" />
<p [style.color]="nameInput3.invalid ? 'red' : 'green'">
  El campo es requerido
</p>
<hr />

<div class="container">
  <div>
    <label for="">Image Width: {{ widthImg }} %</label>
    <br />
    <input type="range" [(ngModel)]="widthImg" min="1" max="100" />
  </div>
  <div>
    <!-- <img [src]="person.img" [alt]="person.name" [style.width.px]="widthImg" /> -->
    <img [src]="person.img" [alt]="person.name" [style.width.%]="widthImg" />
  </div>
</div>
<hr />

<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <div *ngSwitchCase="'Sergio'">Bienvenido, Sergio</div>
  <div *ngSwitchCase="'Rodrigo'">Bienvenido, Rodrigo</div>
  <div *ngSwitchCase="'Ivan'">Bienvenido, Ivan</div>
  <div *ngSwitchDefault>No eres admin</div>
</div>
<hr />

<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image" width="200" />
    <h2>${{ product.price.toFixed(2) }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr />

<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName" (onKeyup.enter)="addName()" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No names</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} - {{ name }}
    <button (click)="removeName(i)">Remove</button>
  </li>
</ul>
<hr />

<h1>+ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name == 'Rodrigo;'">Soy Rodrigo</p>
<p *ngIf="person.name == 'Sergio' && person.age >= 18; else elseTemplate">
  Soy Sergio
</p>
<ng-template #elseTemplate>
  <p>No soy Sergio</p>
</ng-template>
<hr />

<h1>NgModel</h1>
<p>Nombre</p>
<!-- ngModel is the same as v-model from Vue.js -->
<input type="text" required [(ngModel)]="person.name" #nameInput="ngModel" />
<p>Valid: {{ nameInput.valid }}</p>
<input
  type="number"
  min="10"
  max="25"
  [(ngModel)]="person.age"
  #ageInput="ngModel"
/>
<p>Valid: {{ ageInput.valid }}</p>
<hr />

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad: {{ person.age }}</p>
<button (click)="ageIncrease()">Age ++</button>
<hr />

<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum temporibus,
    veniam ratione soluta corrupti tempora minima, aut porro asperiores omnis
    fugiat non accusantium deleniti eos laboriosam itaque, laudantium atque rem.
  </p>
</div>
<input type="text" [value]="person.name" (keyup)="onKeyUp($event)" />
<hr />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.img" alt="image" width="100" />
<hr />

<h1>Hola mundo</h1>
<h2>{{ "Hello, world! ".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
<img src="{{ img }}" alt="image" width="100" />
