section#become-speaker.pt-2.pb-2
    .container
        .row
            .col.text-center
                small.text-uppercase Conviértete en un
                h2 Orador
        .row
            .col.text-center
                | Anótate como orador para dar una 
                abbr(data-toggle="tooltip" title="Charlas de 5 minutos") charla ignite 
                | Cuéntanos de qué quieres hablar!
        .row
            .col.col-md-8.offset-md-2.pt-2
                include form.pug