section#place-time
    .container-fluid
        .row
            .col-12.col-lg-6.ps-0.pe-0
                img(src="assets/images/honolulu.jpg", alt="Honolulu")
            .col-12.col-lg-6.pt-4.pb-4
                h2 Honolulu - Octubre 2025
                p= "Honolulu es la capital y localidad más grande del estado de Hawái, en los Estados Unidos. Honolulu es la más sureña de entre las principales ciudades estadounidenses. Aunque el nombre de Honolulu se refiere al área urbana en la costa sureste de la isla de Oahu, la ciudad y el condado de Honolulu han formado una ciudad-condado consolidada que cubre toda la isla (aproximadamente 600 km² de superficie)."
                a.btn.btn-outline-light(href="https://es.wikipedia.org/wiki/Honolulu") Conoce más