body{
    font-family: 'Poppins', sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title{
    color: white;
    font-size: 50px;
}

.container{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}
.container-description{
    
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.container-description h2{
    margin: 0;
    font-size: 30px;
}

.container-description p{
    color: silver;
}
.container-box{
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top: 30px;
}
.cajaFigura{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 9px 10px 49px 0px rgba(0,0,0,0.51);
    margin-right:20px ;
}
.cajaFigura:last-child{
    margin-right: 0px;
}
.cajaFigura h1{
    margin: 0;
    color: cornflowerblue;
}
.cajaFigura p{
    color: slategrey;
    font-size: 12px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.cajaFigura input, button{
    margin: 5px 0px;
}
input{
    height:30px;
    border: 1px solid silver;
    border-radius:10px;
}
button{
    background-color:cornflowerblue;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}