@import "_globals";

.feedback{
    background-color: $dark-color;
    .btn-1{
        border: 1px solid $primary-color;
        border-radius: 5px !important;
        color: $light-color;
    }
    .btn-1:hover{
        background-color: $primary-color;
    }
    .btn-2{
        background-color: $primary-color;
        color: $light-color;
        border: 1px solid $primary-color;
        border-radius: 5px !important;
    }
}