.row
    .col-md-4
        .card
            img.card-img-top(src='assets/speakers/sacha.jpg' alt='Foto de Sacha')
            .card-body
                h5.card-title Card title
                p.card-text
                | Some quick example text to build on the card title and make up the bulk of the cards content.